/* Key imports should go here */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* Setting global css variables, we also set the base font-size for all our rems here */
:root{ 
  font-size: 16px;
  --primary-one: #5f0a87;
  --primary-two: #a4508b;
  --secondary-one: #fff;
  --secondary-two: #000;
  --secondary-three: #434343;
  --button-padding: 0.5rem 1rem;
  --window-width: 100vw;
  --window-height: 100vh;
  --card-padding: 3rem 5rem 3rem 4rem;
  --thin-card-padding: 2rem 3rem 2rem 3rem;
  --error-modal-padding: 0rem 5rem 1rem 4rem;
  --error-modal-thin-padding: 0rem 3rem 1rem 3rem;
  --card-corners: 1rem;
  --balsamiq-sans: 'Balsamiq Sans', cursive;
  --arial-font: Arial, Helvetica, sans-serif,
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
